<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'blogs/css/main.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->
</head>

<body>
    <h1>Welcome to books</h1>
    <a href="/books/new">Add Book and Review</a>
   

    <div class="container">        
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Rating</th>
            <th>Review</th>
        </tr>
        </thead>
        <tbody>
        {%for book in all_books%}
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.rating}}</td>
            <td>{{book.review}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    </div>


</body>

</html>